NEXT_PUBLIC_MAILCHIMP_AUDIENCE_ID=
NEXT_PUBLIC_MAILCHIMP_API_KEY=
NEXT_PUBLIC_MAILCHIMP_API_SERVER=

NEXT_OAUTH_GITHUB_CLIENT_ID=
NEXT_OAUTH_GITHUB_CLIENT_SECRET=

NEXT_PRISMA_DATABASE_URL=

NEXT_AUTH_URL=
NEXT_AUTH_SECRET=


NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=

NEXT_PUBLIC_SPOTIFY_CLIENT_ID=0c786a7b93534f44bbd486246376368b
NEXT_PUBLIC_SPOTIFY_OAUTH_TOKEN=BQCcaqdk9_3fa5LDiGYA7uO03OfipAmNWwior8VrDYxSVQGGyVRn4GERz1BWdXy1vSKVCWymiz7FVz7P_eQ8FgfCHIZaG74sQ118EuujtXqOuBr9VWQGJQiz-g4BfwM1mvghj1jI6B_1ceNqicWXto4hWumAs5MMS_CNjQzJwBcXjRa-93Xn0WGnD7JOv3YilYxLSIqyWs9jd5guEOkNSdrrn5d8x3WinKciZec6zBSW
NEXT_PUBLIC_SPOTIFY_CLIENT_SECRET=
