NEXT_PUBLIC_MAILCHIMP_AUDIENCE_ID=
NEXT_PUBLIC_MAILCHIMP_API_KEY=
NEXT_PUBLIC_MAILCHIMP_API_SERVER=

NEXT_OAUTH_GITHUB_CLIENT_ID=
NEXT_OAUTH_GITHUB_CLIENT_SECRET=

NEXT_PRISMA_DATABASE_URL=

NEXT_AUTH_URL=
NEXT_AUTH_SECRET=


NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
